/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/

h1, h3{
	font-family: 'Raleway', sans-serif;
}

h2{
	font-family: 'Shadows Into Light', cursive;
	color: #66FFCC;
}
h3{
	color:#FF6600;
}
p{
	width: 400px;
	font-family: 'Raleway', sans-serif;
}

section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color{
	background: #66FFCC;
}

.color-2 {
	background: #FF6600;
}

.color-3{
	background: #FFFF33;
}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}